@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,800;1,900&display=swap');
@import url("https://use.typekit.net/rnd0xne.css");

:root {
    --green: #76ffcb;
    --mint: #e6fff7;
    --red: #934b67;
    --pink: #ffe6f1;
    --blue: #006b8d;
}


html,
body {
    font-family: 'poppins';
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
    
}


h1, h2, h3 {
    font-family: quiche-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 25px;

}

.h1_landingpage {
    font-size:70px;
}


.countdownP{
    font-weight: 200;
   
}


.bg-light {
     transition:500ms ease;
     background: transparent !important;
     
   
}


.bg-light.scrolled{
    
     background: var(--pink) !important;
}



a {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: .085em;
    text-decoration: none;
    color: black !important;

}



a:hover {
    color: var(--blue) !important;
}



.dropdown-menu {
    background: var(--pink) !important;
      border: 1px solid transparent;
}




.dropdown:hover > .dropdown-menu {
    display: block;
}










.landing_page {
    /* The image used */
    background-image: url("../img/kroppe.png");

    /* Full height */
    height: 110vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.container_cover{
     padding-top: 10%;
     height: 10vh;
}


.program_fullpage {
      /* The image used */
    background: var(--mint) !important;

    /* Full height */
    height: 425vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.full_page {
    /* The image used */
    background: var(--mint) !important;

    /* Full height */
    height: 65vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full_page2 {
    /* The image used */
    background: var(--mint) !important;

    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.full_page3 {
    /* The image used */
    background: var(--pink) !important;

    /* Full height */
    height: 110vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.tempimg{
 max-width: 100%;
  height: auto;
    padding: 20px;
}



.container_lydkunst{
    
     padding-bottom: 80px;
    
}


@media only screen and (max-width:600px) {
  
     
    .container_cover{
  
     height: 50vh;
}

      


}



.myBnt {
    background-color:  var(--green);    
    border: none;
    color: black;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}


.myBnt2 {
  position: relative;
  top: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    background-color:  var(--green);    
    border: none;
    color: black;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}



.myBnt:hover{
     background-color:  var(--pink);
    filter: drop-shadow(0 0 0.75rem  var(--pink));
}

.myBnt2:hover{
     background-color:  var(--pink);
    filter: drop-shadow(0 0 0.75rem  var(--pink));
}


.column {

  float: left;
    width: 50%;
    padding: 0px;

}

.column_image_1 {
    background-image: url(../img/3mennesker.jpeg);
    background-position: center;
    background-size: cover;
    width: 728px;
    height: 720px;
}

.column_image_2 {
    background-image: url(../img/dj.jpeg);
    background-position: center;
    background-size: cover;
    width: 716px;
    height: 717px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}






.sponsorer_page {
    /* The image used */
    background-image: url("../img/kroppe.png");

    /* Full height */
   

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.container_icons{
   padding-top: 80px;
    padding-bottom: 80px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}


.container_icons img{
     max-width: 110px;
     margin: 20px;
     align-self: center;
    
}

@media only screen and (max-width: 990px) {
  
   .container_icons img{
     max-width: 80px;;
     margin: 20px;
     align-self:center;
    }
}




.footer{
    background: var(--mint) !important; 
}





#mailchimp {
	background: var(--mint);
	padding: 50px 50px;
}


#mailchimp form{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
   
}

	#mailchimp input {
      
    border: medium none;
    color: gray;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 5px;
    padding: 8px 10px;
    width: 250px;
       
	
	}

#mailchimp img{

    height: 100px;
   
        
}

#mailchimp input:hover{
    
    
    
}
		#mailchimp input.email { background: #fff }
		#mailchimp input.name { background: #fff}
		#mailchimp input[type="submit"] {
			background: var(--green);
			color: black;
			cursor: pointer;
			font-size: 15px;
			
			padding: 8px 0;

		}
			#mailchimp input[type="submit"]:hover { color: var(--pink) 
}


p {
    padding-right: 200px;
    padding-left: 200px;
}

.p_sima {
    padding: 66px;
    text-align: center;
    font-size: 20px;
}

.sima_logo 
{
    max-width: 200px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
